html {
    box-sizing: border-box;
    font-size:62.5% /*1rem = 10pixeles*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }



/*hero section*/
.hero{
  background-image: url('https://images.unsplash.com/photo-1596751303147-05d69e653ca4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1197&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .titulo{
  font-size:5rem;
  color:#222222;
}
.hero .subtitulo{
  color:#363636;
  font-size:1.5rem;
}
 /*--------------------------------------------------------------
# Sobre mí
--------------------------------------------------------------*/
.bg{
  background-color: #e94f37;
}

#sobre-mi{
  color: #effbf9;
}
/*Botones*/

/*Descargar CV*/
.button {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 0.2rem;
  border: 1px solid #ffffff;
  border-radius: 0.4rem;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  color: white;
  z-index: 1;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #ffffff;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:hover {
  color: #e94f37;
  border: 1px solid #ffffff;
 }
 
 .button:hover:before {
  top: -35%;
  background-color: #ffffff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button:hover:after {
  top: -45%;
  background-color: #f6f7eb;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }

/*Iniciar sesión btn*/

.button1 {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 0.2rem;
  border: 1px solid #f6f7eb;
  border-radius: 0.4rem;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1.6rem;
  color: #f6f7eb;
  z-index: 1;
  margin-left: 1rem;
 }
 
 .button1:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button1:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #e94f37;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button1:hover {
  color: #f6f7eb;
  border: 1px solid #e94f37;
 }
 
 .button:hover:before {
  top: -35%;
  background-color: #e94f37;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button1:hover:after {
  top: -45%;
  background-color: #e94f37;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }

 
 /*--------------------------------------------------------------
# Resumen
--------------------------------------------------------------*/
.resume{
  background-color: #f6f7eb;
}
.resume .resume-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #363636;
  text-transform: uppercase;
}
.resume .resume-item {
  padding: 0 0 2rem 2rem;
  margin-top: -0.2rem;
  border-left:  0.2rem solid #e94f37;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 1.8rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #e94f37c7;
  margin-bottom: 1rem;
}
.resume .resume-item h5 {
  font-size: 1.6rem;
  background: #f8e9df;
  padding: .5rem 1.5rem;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fca396;
}
.resume .resume-item p {
  font-size: 1.4rem;

}
.resume .resume-item p em{
  font-size: 1.5rem;

}
.resume .resume-item ul {
  padding-left: 2rem;
}
.resume .resume-item ul li {
  padding-bottom: 1rem;
  font-size:1.2rem;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 5rem;
  left: -.9rem;
  top: 0;
  background: #fff;
  border: 2px solid #e94f37;
}


 /*--------------------------------------------------------------
# PROYECTOS
--------------------------------------------------------------*/
.proyecto {
  overflow: hidden;
  position: relative;
}
.proyecto img{
  height: 100%;
  width: 100%;
}
.proyecto img, 
.proyecto .proyecto-overlay{
  transition: all 0.4s ease;
}

.proyecto-overlay{
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;;
  background-color: #df4b35a6;
  display: flex;
  align-items: flex-end;
  padding:3rem;
  opacity: 0;

}

.proyecto-overlay h4,
.proyecto-overlay p{
  color:#e4e5d1;
 
}

.proyecto:hover .proyecto-overlay{
    opacity:1;
}

.proyecto:hover img{
  transform: scale(1.1);
}

.link-proyecto{
  text-decoration: none;
  color:white;
}

.link-proyecto:hover{
  color:#222222
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills{
  background-color: #f6f7eb;
}
.skills .progress {
  height: 6rem;
  display: block;
  background: none;
  border-radius: 0.2rem;
}
.skills .progress .skill {
  padding: 1rem 0;
  margin: 0 0 .6rem 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: #222222;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #e4e5d1;
}
.skills .progress-bar {
  height: 1rem;
  background-color: #e94f37;
}

.listas-skills{
  font-size:1.4rem;
}

